body, html {
  padding: 0;
  margin: 0;
}
h1,h2,h3 {
  margin: 0; padding: 0;
}
/*
  flexbox editor
  http://the-echoplex.net/flexyboxes/
*/

/*
Mozilla
  https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes
*/

/*
  http://www.chriswrightdesign.com/experiments/flexbox-adventures/
*/

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.item {
  border: 1px solid;
  box-sizing: border-box;
  padding: 5px;
}

.item1 {
  /*flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;*/
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
}
.item2 {
  /*flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 0;*/
  -webkit-flex: 2 0 0;
      -ms-flex: 2 0 0;
          flex: 2 0 0;
}
.item3 {
  /*flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;*/
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
}
