body, html {
  padding: 0;
  margin: 0;
}
h1,h2,h3 {
  margin: 0; padding: 0;
}
/*
  flexbox editor
  http://the-echoplex.net/flexyboxes/
*/

/*
Mozilla
  https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes
*/

.header, .left-nav, .main-content, .right-nav, .footer {
  color: #fff;
  padding: 5px;
}

body {
  display: flex;
  flex-direction: column;
}

.inner {
  display: flex;
}

.header {
  background-color: #000;
}
.left-nav {
  background-color: #27ae60;
}
.main-content {
  background-color: #2980b9;
}
.right-nav {
  background-color: #9b59b6;
}
